workflow/templates/customer_llm_messaging.json
[
  {
    "id": "customer-llm-flow",
    "type": "tab",
    "label": "Customer LLM Messaging",
    "disabled": false,
    "info": "Send personalized LLM messages to customers with rate limiting. Features: customer list fetched from server, LLM generation, delays, pause/resume, status tracking."
  },
  {
    "id": "init-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Start Workflow",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [
      [
        "fetch-customers"
      ]
    ]
  },
  {
    "id": "fetch-customers",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Fetch Customers",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/customers",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "config-node"
      ]
    ]
  },
  {
    "id": "test-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Test Message",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "inputs": 0,
    "x": 150,
    "y": 300,
    "wires": [
      [
        "test-config"
      ]
    ]
  },
  {
    "id": "test-config",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Setup Test Customer",
    "func": "// Setup a realistic test customer for testing\n// CHANGE THIS NUMBER to your own test number\nmsg.currentCustomer = {\n    id: \"85290897701@c.us\", \n    name: \"Test User\",  // Can be English or Chinese name\n    context: \"Industry: \u5546\u696d\u53ca\u5c08\u696d\u670d\u52d9\"  // Matches the Excel format with industry\n};\n\n// Clear customers array so the loop stops after this message\nmsg.customers = null;\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Test mode: \" + msg.currentCustomer.name});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 300,
    "wires": [
      [
        "prepare-llm-node"
      ]
    ]
  },
  {
    "id": "config-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Config: Set Customers",
    "func": "// Check if customers were fetched successfully\nif (!msg.payload || !msg.payload.success || !Array.isArray(msg.payload.customers)) {\n    node.error(\"Failed to fetch customer list\");\n    return null;\n}\n\nmsg.customers = msg.payload.customers;\nmsg.totalCustomers = msg.customers.length;\n\nif (msg.customers.length === 0) {\n    node.warn(\"Customer list is empty. Please upload a customer Excel file first.\");\n}\n\n// Generate unique workflow run ID for tracking\nmsg.workflowRunId = 'run_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\n// Initialize index (0 for fresh start, or from resume)\nmsg.currentIndex = msg.resumeFromIndex || 0;\n\n// Reset status\nconst startMsg = msg.resumeFromIndex ? 'Resuming from ' + msg.resumeFromIndex : 'Starting fresh';\nnode.status({fill:\"blue\", shape:\"dot\", text:startMsg + ' - ' + msg.customers.length + \" customers\"});\n\nnode.warn('Workflow Run ID: ' + msg.workflowRunId + ' | Starting at index: ' + msg.currentIndex);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 100,
    "wires": [
      [
        "iterator-node"
      ]
    ]
  },
  {
    "id": "iterator-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Get Next Customer",
    "func": "if (!msg.customers || msg.currentIndex >= msg.customers.length) {\n    msg.complete = true;\n    node.status({fill:\"green\", shape:\"dot\", text:\"Complete! Sent to \" + msg.customers.length + \" customers\"});\n    return [null, msg]; // Second output for 'done'\n}\n\n// Get current customer\nconst customer = msg.customers[msg.currentIndex];\nmsg.currentCustomer = customer;\nmsg.customerIndex = msg.currentIndex; // Store for tracking\nmsg.currentIndex++;\n\n// Update status\nnode.status({fill:\"yellow\", shape:\"ring\", text:\"Processing \" + msg.currentIndex + \"/\" + msg.totalCustomers + \" (\" + customer.name + \")\"});\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "business-hours-node"
      ],
      [
        "done-node"
      ]
    ]
  },
  {
    "id": "business-hours-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Check Business Hours",
    "func": "// Business hours configuration (HKT = UTC+8)\nconst START_HOUR = 9;   // 9:00 AM\nconst END_HOUR = 18;    // 6:00 PM\nconst TIMEZONE_OFFSET = 8; // Hong Kong UTC+8\n\n// Get current time in HKT\nconst now = new Date();\nconst utcHour = now.getUTCHours();\nconst hktHour = (utcHour + TIMEZONE_OFFSET) % 24;\nconst hktMinutes = now.getUTCMinutes();\n\n// Check if within business hours\nconst isBusinessHours = hktHour >= START_HOUR && hktHour < END_HOUR;\n\n// Check if it's Monday to Saturday (1-6, Sunday = 0)\nconst utcDay = now.getUTCDay();\n// Adjust for HKT (might be different day)\nconst hktDay = (utcHour + TIMEZONE_OFFSET >= 24) ? (utcDay + 1) % 7 : utcDay;\nconst isWorkday = hktDay >= 1 && hktDay <= 6; // Monday to Saturday\n\nif (isBusinessHours && isWorkday) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Business hours: \" + hktHour + \":\" + String(hktMinutes).padStart(2, '0') + \" HKT\"});\n    return [msg, null]; // Continue to send\n} else {\n    // Calculate wait time until next business hours\n    let waitMinutes;\n    \n    if (hktHour < START_HOUR && isWorkday) {\n        // Before business hours today (Mon-Sat)\n        waitMinutes = (START_HOUR - hktHour) * 60 - hktMinutes;\n    } else if (hktHour >= END_HOUR && hktDay < 6) {\n        // After business hours Mon-Fri, wait until tomorrow 9am\n        waitMinutes = (24 - hktHour + START_HOUR) * 60 - hktMinutes;\n    } else if (hktHour >= END_HOUR && hktDay === 6) {\n        // After business hours Saturday, wait until Monday 9am\n        waitMinutes = (24 - hktHour + 24 + START_HOUR) * 60 - hktMinutes;\n    } else if (hktDay === 0) {\n        // Sunday - wait until Monday 9am\n        waitMinutes = (24 - hktHour + START_HOUR) * 60 - hktMinutes;\n    } else {\n        // Default fallback\n        waitMinutes = 60;\n    }\n    \n    // Store wait time for the delay node\n    msg.waitUntilBusinessHours = waitMinutes;\n    \n    const waitHours = Math.floor(waitMinutes / 60);\n    const waitMins = waitMinutes % 60;\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Outside hours. Wait \" + waitHours + \"h \" + waitMins + \"m\"});\n    return [null, msg]; // Second output for wait\n}",
    "outputs": 2,
    "noerr": 0,
    "x": 350,
    "y": 200,
    "wires": [
      [
        "rate-limit-node"
      ],
      [
        "wait-for-business-hours"
      ]
    ]
  },
  {
    "id": "wait-for-business-hours",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Calculate Wait Time",
    "func": "// Set delay in milliseconds\nconst waitMinutes = msg.waitUntilBusinessHours || 60;\nmsg.delay = waitMinutes * 60 * 1000;\n\nnode.status({fill:\"blue\", shape:\"ring\", text:\"Waiting \" + waitMinutes + \" minutes...\"});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 280,
    "wires": [
      [
        "business-hours-delay"
      ]
    ]
  },
  {
    "id": "business-hours-delay",
    "type": "delay",
    "z": "customer-llm-flow",
    "name": "Wait for Business Hours",
    "pauseType": "delayv",
    "timeout": "1",
    "timeoutUnits": "hours",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 780,
    "y": 280,
    "wires": [
      [
        "business-hours-node"
      ]
    ]
  },
  {
    "id": "rate-limit-node",
    "type": "delay",
    "z": "customer-llm-flow",
    "name": "Rate Limit (45-60s)",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "45",
    "rateUnits": "second",
    "randomFirst": "45",
    "randomLast": "60",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 360,
    "y": 200,
    "wires": [
      [
        "prepare-llm-node"
      ]
    ]
  },
  {
    "id": "prepare-llm-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Construct Message",
    "func": "const customer = msg.currentCustomer;\n\n// Extract industry from context (format: \"Industry: XXX\")\nconst industry = customer.context.replace('Industry: ', '').trim();\n\n// Use the Panda SME system prompt with customer details\nconst systemPrompt = `\ud83d\udc3c \u718a\u8c93\u4f01\u696d\u9867\u554f\uff1a\u820a\u5ba2\u6236\u806f\u7e6b\u5c08\u7528 System Prompt\uff08\u7d14\u6587\u5b57\u7248\uff09\n\u4f60\u662f\u300c\u718a\u8c93\u4f01\u696d\u9867\u554f\u300d\u7684\u7b2c\u4e00\u7dda\u95dc\u4fc2\u7dad\u7e6b\u4ee3\u8868\u3002\n\u4f60\u8981\uff1a\n\u4ee5\u53cb\u5584\u614b\u5ea6\u8207\u820a\u5ba2\u6236\u958b\u555f\u5c0d\u8a71\uff0c\u8a62\u554f\u8fd1\u6cc1\u3002\n\u9069\u5ea6\u56de\u9867\u66fe\u7d93\u7684\u806f\u7e6b\uff08\u4f8b\u5982\uff1a\u300c\u4e4b\u524d\u6211\u5011\u66fe\u8207\u60a8\u806f\u7d61\u904e\u67d0\u9805\u8cc7\u52a9\u8a08\u5283\u300d\uff09\u3002\n\u81ea\u7136\u5730\u4ecb\u7d39\u516c\u53f8\u6700\u65b0\u9805\u76ee\uff0c\u5982\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u3002\n\u82e5\u5ba2\u6236\u6709\u8208\u8da3\uff0c\u7c21\u8981\u8aaa\u660e\u5167\u5bb9\uff0c\u4e26\u9080\u8acb\u7559\u4e0b\u6700\u65b0\u806f\u7d61\u65b9\u5f0f\u4ee5\u4fbf\u9867\u554f\u8ddf\u9032\u3002\n\u82e5\u5ba2\u6236\u66ab\u6642\u6c92\u6709\u8208\u8da3\uff0c\u4ecd\u4fdd\u6301\u79ae\u8c8c\u4e26\u8868\u793a\u5f8c\u7e8c\u53ef\u63d0\u4f9b\u8cc7\u8a0a\u66f4\u65b0\u3002\n\n\u3010\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u7c21\u4ecb\u3011\n\u5c0d\u8c61\uff1a\u4e2d\u5c0f\u4f01\u696d\u4e3b\u3001\u5275\u696d\u8005\u3001\u6709\u8208\u8da3\u638c\u63e1\u653f\u5e9c\u8cc7\u52a9\u7533\u8acb\u6280\u5de7\u7684\u5ba2\u6236\n\u5e74\u8cbb\uff1a$9,800\uff0f\u5e74\uff08\u539f\u50f9 $12,800\uff0f\u5e74\uff09\n\u5e73\u5747\u6bcf\u65e5\u958b\u652f\uff1a\u7d04 $27\n\u512a\u60e0\uff1a\u999650\u4f4d\u9650\u5b9a\n\u9644\u9001\uff1a\u6df1\u5733\u88dc\u8cbc\u653b\u7565 + \u6df1\u5733\u88dc\u8cbc60\u5206\u9418\u4e00\u5c0d\u4e00\u8aee\u8a62\n\u512a\u52e2\uff1a\n\u81ea\u4e3b\u638c\u63a7\u7533\u8acb\u9032\u5ea6\n\u5373\u6642\u7cfb\u7d71\u8ffd\u8e64\n\u96f6\u98a8\u96aa\uff08\u4e0d\u9700\u4ea4\u51fa\u6240\u6709\u516c\u53f8\u8cc7\u6599\uff09\n\u5145\u5206\u6a21\u64ec\u8a13\u7df4\uff0c\u78ba\u4fdd\u9806\u5229\u901a\u904e\n\n\u3010\u8a9e\u6c23\u8207\u6e9d\u901a\u98a8\u683c\u3011\n\u4f7f\u7528\u7e41\u9ad4\u4e2d\u6587\u5c0d\u8a71\u3002\n\u8a9e\u6c23\u81ea\u7136\u3001\u89aa\u5207\u3001\u6709\u8aa0\u610f\uff0c\u50cf\u95dc\u5fc3\u8001\u670b\u53cb\u3002\n\u4e0d\u5f37\u8feb\u63a8\u92b7\uff0c\u8457\u91cd\u95dc\u5fc3\u8207\u63d0\u4f9b\u8cc7\u8a0a\u3002\n\u907f\u514d\u904e\u65bc\u5546\u696d\u5316\u7684\u8a9e\u8a00\uff0c\u4f8b\u5982\u300c\u9650\u6642\u512a\u60e0\uff01\u99ac\u4e0a\u5831\u540d\uff01\u300d\n\u53ef\u7528\u8f15\u9b06\u7684\u8a9e\u6c23\u8a5e\uff0c\u5982\u300c\u660e\u767d\u5440\uff5e\u300d\u3001\u300c\u6700\u8fd1\u60c5\u6cc1\u5982\u4f55\uff1f\u300d\u3001\u300c\u8981\u4e0d\u8981\u6211\u5e6b\u60a8\u770b\u770b\uff1f\u300d\n\u76ee\u6a19\u662f\u8b93\u5ba2\u6236\u611f\u53d7\u5230\u95dc\u61f7\u8207\u4fe1\u4efb\uff0c\u800c\u4e0d\u662f\u88ab\u63a8\u92b7\u3002\n\n\u3010\u5c0d\u8a71\u4efb\u52d9\u7bc4\u4f8b\u3011\n\u958b\u5834\u767d\u7bc4\u4f8b\uff08\u53ef\u96a8\u6a5f\u9078\u64c7\u4e0d\u540c\u7248\u672c\u4f7f\u7528\uff09\uff1a\n\u300c\u9673\u751f\uff0c\u4e4b\u524d\u60a8\u54a8\u8a62\u904e\u7528\u653f\u5e9c\u8cc7\u52a9\u5e6b\u4f60\u767c\u5c55\u696d\u52d9\uff0c\u6211\u54cb\u6700\u65b0\u63a8\u51fa\u4e86BUD\u667a\u80fd\u7533\u8acb\u7cfb\u7d71\uff5e\u4f34\u60a8\u555f\u822a\u8a08\u5283\uff0c\u53ea\u4fc2\u6bcf\u65e5\u4e00\u676f\u5496\u5561\u50f9\u9322\uff01\u63d0\u524d\u898f\u52832026\u5e74\u7684\u751f\u610f\u767c\u5c55\uff0c\u4eca\u65e5\u6216\u660e\u5929\u4f60\u90a3\u500b\u6642\u9593\u65b9\u4fbf\u752815\u5206\u9418\u4e86\u89e3\u4e0b\u65b0\u7cfb\u7d71\u9ede\u5e6b\u5230\u4f60\uff1f\u300d\n\u300c\u60a8\u597d\u5440\uff5e\u597d\u4e45\u4e0d\u898b\uff01\u4e4b\u524d\u6709\u806f\u7d61\u904e\u6211\u5011\u95dc\u65bc\u653f\u5e9c\u8cc7\u52a9\u7684\u8a08\u5283\uff0c\u6211\u54cb\u6700\u8fd1\u63a8\u51fa\u5497BUD\u667a\u80fd\u7533\u8acb\u7cfb\u7d71\uff0c\u5e6b\u4f60\u81ea\u5df1\u641e\u6382\u7533\u8acb\uff0c\u6bcf\u65e5\u53ea\u4fc2\u4e00\u676f\u5496\u5561\u5605\u50f9\u9322\uff01\u60f3\u4e86\u89e3\u4e0b\u9ede\u6a23\u5e6b\u5230\u4f60\u5605\u696d\u52d9\uff1f\u300d\n\u300c\u55e8\uff5e\u8fd1\u6cc1\u5982\u4f55\uff1f\u4e4b\u524d\u6211\u5011\u5728\u8cc7\u52a9\u7533\u8acb\u65b9\u9762\u6709\u806f\u7d61\u904e\uff0c\u6700\u8fd1\u6211\u5011\u63a8\u51fa\u4e86\u4f34\u60a8\u555f\u822a\u8a08\u5283\uff0c\u7528BUD\u667a\u80fd\u7cfb\u7d71\u5e6b\u4f01\u696d\u81ea\u5df1\u7533\u8acb\u653f\u5e9c\u8cc7\u52a9\uff0c\u8cbb\u7528\u53ea\u4fc2\u6bcf\u65e5\u4e00\u676f\u5496\u5561\uff01\u4eca\u65e5\u6216\u660e\u5929\u908a\u500b\u6642\u9593\u65b9\u4fbf\u50be15\u5206\u9418\uff1f\u300d\n\u9032\u4e00\u6b65\u4ecb\u7d39\u7bc4\u4f8b\uff1a\n\u300c\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u4fc2\u4e00\u500bBUD\u667a\u80fd\u7533\u8acb\u7cfb\u7d71\uff0c\u6559\u4f60\u9ede\u6a23\u81ea\u5df1\u7533\u8acb\u653f\u5e9c\u8cc7\u52a9\uff0c\u8cbb\u7528\u53ea\u9700 $9,800\uff0f\u5e74\uff08\u6bcf\u65e5\u5927\u6982\u4e00\u676f\u5496\u5561\u50f9\u9322\uff09\uff0c\u6bd4\u50b3\u7d71\u9867\u554f\u7bc0\u7701\u81f3\u5c11 80% \u6210\u672c\uff01\u300d\n\u5f15\u5c0e\u806f\u7e6b\u7bc4\u4f8b\uff1a\n\u300c\u4eca\u65e5\u6216\u660e\u5929\u4f60\u90a3\u500b\u6642\u9593\u65b9\u4fbf\u752815\u5206\u9418\u4e86\u89e3\u4e0b\u65b0\u7cfb\u7d71\u9ede\u5e6b\u5230\u4f60\uff1f\u76f4\u63a5\u56de\u8986\u6211\u5c31\u5f97\uff01\u300d\n\u82e5\u5ba2\u6236\u66ab\u6642\u6c92\u8208\u8da3\uff1a\n\u300c\u6c92\u554f\u984c\uff5e\u5982\u679c\u4e4b\u5f8c\u60f3\u4e86\u89e3\u653f\u5e9c\u8cc7\u52a9\u7684\u65b0\u6d88\u606f\u6216\u8ab2\u7a0b\u66f4\u65b0\uff0c\u4e5f\u53ef\u4ee5\u518d\u627e\u6211\ud83d\ude0a \u6211\u5011\u5f88\u6a02\u610f\u96a8\u6642\u5354\u52a9\u60a8\uff01\u300d\n\n\u3010\u91cd\u8981\u8cc7\u8a0a\u3011\n\u4e0d\u8981\u5728\u958b\u5834\u8a0a\u606f\u4e2d\u52a0\u5165\u4efb\u4f55\u7db2\u7ad9\u9023\u7d50\uff0c\u4fdd\u6301\u8a0a\u606f\u7c21\u6f54\u76f4\u63a5\u3002\n\n\u3010\u5c0d\u8a71\u76ee\u6a19\u3011\n\u4e3b\u8981\u76ee\u7684\uff1a\n\u5efa\u7acb\u95dc\u4fc2\u8207\u4fe1\u4efb\n\u559a\u9192\u820a\u5ba2\u6236\u8208\u8da3\n\u6536\u96c6\u6216\u66f4\u65b0\u5ba2\u6236\u806f\u7d61\u8cc7\u6599\n\u7406\u60f3\u6210\u679c\uff1a\n\u5ba2\u6236\u7559\u4e0b\u59d3\u540d\u8207\u96fb\u8a71\uff0f\u96fb\u90f5\n\u6216\u4e3b\u52d5\u8981\u6c42\u9867\u554f\u806f\u7d61\n\u82e5\u7121\u6cd5\u7acb\u5373\u53d6\u5f97\u8cc7\u6599\uff0c\u4e5f\u78ba\u4fdd\u5c0d\u8a71\u7559\u4e0b\u826f\u597d\u5370\u8c61\uff0c\u65b9\u4fbf\u5f8c\u7e8c\u8ddf\u9032\u3002`;\n\n// Create explicit instruction with customer details\nconst prompt = `\u8acb\u70ba\u4ee5\u4e0b\u5ba2\u6236\u64b0\u5beb\u4e00\u5247WhatsApp\u8a0a\u606f\uff1a\n\n\u5ba2\u6236\u59d3\u540d\uff1a${customer.name}\n\u5ba2\u6236\u884c\u696d\uff1a${industry}\n\n\u8a0a\u606f\u8981\u6c42\uff1a\n1. \u7b2c\u4e00\u53e5\u5fc5\u9808\u5305\u542b\u5ba2\u6236\u59d3\u540d\uff0c\u4f8b\u5982\uff1a\"${customer.name}\uff0c\u4e4b\u524d\u60a8\u54a8\u8a62\u904e...\" \u6216 \"${customer.name}\u60a8\u597d\u5440\uff5e\"\n2. \u63d0\u53ca\u5ba2\u6236\u4e4b\u524d\u54a8\u8a62\u904e\u653f\u5e9c\u8cc7\u52a9\u5e6b\u52a9\u767c\u5c55\u696d\u52d9\n3. \u4ecb\u7d39\u300cBUD\u667a\u80fd\u7533\u8acb\u7cfb\u7d71\u300d\u548c\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\n4. \u5f37\u8abf\u8cbb\u7528\u53ea\u4fc2\u300c\u6bcf\u65e5\u4e00\u676f\u5496\u5561\u50f9\u9322\u300d\n5. \u63d0\u53ca\u53ef\u4ee5\u5e6b\u52a9\u898f\u52832026\u5e74\u7684\u751f\u610f\u767c\u5c55\n6. \u7d50\u5c3e\u8a62\u554f\u300c\u4eca\u65e5\u6216\u660e\u5929\u908a\u500b\u6642\u9593\u65b9\u4fbf\u752815\u5206\u9418\u4e86\u89e3\u4e0b\uff1f\u300d\n7. \u9f13\u52f5\u76f4\u63a5\u56de\u8986\u8a0a\u606f\n8. \u4f7f\u7528\u5ee3\u6771\u8a71\u53e3\u8a9e\u98a8\u683c\uff0c\u89aa\u5207\u81ea\u7136\n9. \u53ea\u8f38\u51fa\u8a0a\u606f\u5167\u5bb9\uff0c\u4e0d\u8981\u6709\u4efb\u4f55\u5176\u4ed6\u8aaa\u660e\n10. \u4e0d\u8981\u52a0\u5165\u4efb\u4f55\u7db2\u7ad9\u9023\u7d50\n\n\u7bc4\u4f8b\u98a8\u683c\uff1a\n\u300c${customer.name}\uff0c\u4e4b\u524d\u60a8\u54a8\u8a62\u904e\u7528\u653f\u5e9c\u8cc7\u52a9\u5e6b\u4f60\u767c\u5c55\u696d\u52d9\uff0c\u6211\u54cb\u6700\u65b0\u63a8\u51fa\u4e86BUD\u667a\u80fd\u7533\u8acb\u7cfb\u7d71\uff5e\u4f34\u60a8\u555f\u822a\u8a08\u5283\uff0c\u53ea\u4fc2\u6bcf\u65e5\u4e00\u676f\u5496\u5561\u50f9\u9322\uff01\u63d0\u524d\u898f\u52832026\u5e74\u7684\u751f\u610f\u767c\u5c55\uff0c\u4eca\u65e5\u6216\u660e\u5929\u4f60\u90a3\u500b\u6642\u9593\u65b9\u4fbf\u752815\u5206\u9418\u4e86\u89e3\u4e0b\u65b0\u7cfb\u7d71\u9ede\u5e6b\u5230\u4f60\uff1f\u300d\n\n\u73fe\u5728\u64b0\u5beb\u8a0a\u606f\uff1a`;\n\nmsg.payload = {\n    prompt: prompt,\n    systemPrompt: systemPrompt,\n    temperature: 0.7,\n    maxTokens: 300\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 200,
    "wires": [
      [
        "call-llm-node"
      ]
    ]
  },
  {
    "id": "call-llm-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Generate Message (LLM)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/generate-text",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 820,
    "y": 200,
    "wires": [
      [
        "prepare-send-node"
      ]
    ]
  },
  {
    "id": "prepare-send-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Prepare Send",
    "func": "const text = msg.payload.text;\nconst customer = msg.currentCustomer;\n\nif (!text) {\n    node.error(\"No text generated for \" + customer.name);\n    return null;\n}\n\n// Store original message for tracking\nmsg.originalMessage = text;\n\n// Format for /api/workflow/send-message\nmsg.payload = {\n    platform: 'whatsapp', // Default to WhatsApp\n    chatId: customer.id,\n    message: text\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text:\"Sent to \" + customer.name});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 300,
    "wires": [
      [
        "send-msg-node"
      ]
    ]
  },
  {
    "id": "send-msg-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Send Message",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/send-message",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1000,
    "y": 300,
    "wires": [
      [
        "track-message-node"
      ]
    ]
  },
  {
    "id": "track-message-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Track Sent Message",
    "func": "const customer = msg.currentCustomer;\nconst sentMessage = msg.originalMessage || '';\n\n// Extract error reason from response if failed\nconst isSuccess = msg.payload && msg.payload.success;\nconst errorReason = !isSuccess ? (msg.payload?.error || msg.statusCode ? 'HTTP ' + msg.statusCode : 'Unknown error') : null;\n\n// Prepare tracking data with workflow run info for resume capability\nconst trackingData = {\n    customerId: customer.id,\n    customerName: customer.name,\n    message: sentMessage,\n    status: isSuccess ? 'sent' : 'failed',\n    error: errorReason,\n    workflowRunId: msg.workflowRunId,\n    customerIndex: msg.customerIndex,\n    totalCustomers: msg.totalCustomers\n};\n\nmsg.payload = trackingData;\n\nif (trackingData.status === 'sent') {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Sent #\" + (msg.customerIndex + 1) + \": \" + customer.name});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Failed #\" + (msg.customerIndex + 1) + \": \" + (errorReason || customer.name)});\n    node.warn('Failed to send to ' + customer.name + ': ' + errorReason);\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1200,
    "y": 300,
    "wires": [
      [
        "track-api-node"
      ]
    ]
  },
  {
    "id": "track-api-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Save to Tracking",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/track-message",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1400,
    "y": 300,
    "wires": [
      [
        "loop-back-node"
      ]
    ]
  },
  {
    "id": "loop-back-node",
    "type": "link out",
    "z": "customer-llm-flow",
    "name": "Loop Back",
    "mode": "link",
    "links": [
      "loop-in-node"
    ],
    "x": 1150,
    "y": 300,
    "wires": []
  },
  {
    "id": "loop-in-node",
    "type": "link in",
    "z": "customer-llm-flow",
    "name": "Loop In",
    "links": [
      "loop-back-node"
    ],
    "x": 50,
    "y": 200,
    "wires": [
      [
        "iterator-node"
      ]
    ]
  },
  {
    "id": "done-node",
    "type": "debug",
    "z": "customer-llm-flow",
    "name": "Workflow Complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "resume-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Resume (Auto)",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "inputs": 0,
    "x": 150,
    "y": 400,
    "wires": [
      [
        "fetch-last-state"
      ]
    ]
  },
  {
    "id": "manual-resume-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Resume from Index ",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "inputs": 0,
    "x": 160,
    "y": 460,
    "wires": [
      [
        "manual-resume-config"
      ]
    ]
  },
  {
    "id": "manual-resume-config",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Set Manual Index",
    "func": "// Manual resume - set the index from inject node payload\n// EDIT THE INJECT NODE PAYLOAD TO SET YOUR START INDEX\nconst startIndex = parseInt(msg.payload) || 0;\n\nmsg.resumeFromIndex = startIndex;\n\nnode.warn('Manual resume from index: ' + startIndex);\nnode.status({fill:\"yellow\", shape:\"dot\", text:\"Manual: start from #\" + startIndex});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 460,
    "wires": [
      [
        "fetch-customers"
      ]
    ]
  },
  {
    "id": "fetch-last-state",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Get Last Successful",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/last-successful",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 400,
    "wires": [
      [
        "find-resume-point"
      ]
    ]
  },
  {
    "id": "find-resume-point",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Set Resume Point",
    "func": "// Get last successful customer from tracking data\nconst last = msg.payload.lastSuccessful;\n\nif (!last || last.customerIndex === null || last.customerIndex === undefined) {\n    node.warn('No previous successful sends found. Use manual resume instead.');\n    node.warn('Click \"Resume from Index\" and edit its payload to set start index.');\n    msg.resumeFromIndex = 0;\n    node.status({fill:\"red\", shape:\"ring\", text:\"No tracking data - use manual\"});\n    return msg;\n}\n\n// Resume from the NEXT customer after the last successful one\nmsg.resumeFromIndex = last.customerIndex + 1;\n\nnode.warn('Last successful: ' + last.customerName + ' (index ' + last.customerIndex + ')');\nnode.warn('Resuming from index ' + msg.resumeFromIndex);\nnode.status({fill:\"green\", shape:\"dot\", text:\"Resume #\" + msg.resumeFromIndex + \" (after \" + last.customerName + \")\"});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 400,
    "wires": [
      [
        "fetch-customers"
      ]
    ]
  },
  {
    "id": "broker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false
  }
]