workflow/templates/customer_llm_messaging.json
[
  {
    "id": "customer-llm-flow",
    "type": "tab",
    "label": "Customer LLM Messaging",
    "disabled": false,
    "info": "Send personalized LLM messages to customers with rate limiting. Features: customer list fetched from server, LLM generation, delays, pause/resume, status tracking."
  },
  {
    "id": "init-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Start Workflow",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [
      [
        "fetch-customers"
      ]
    ]
  },
  {
    "id": "fetch-customers",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Fetch Customers",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/customers",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "config-node"
      ]
    ]
  },
  {
    "id": "test-trigger",
    "type": "inject",
    "z": "customer-llm-flow",
    "name": "Test Message",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "inputs": 0,
    "x": 150,
    "y": 300,
    "wires": [
      [
        "test-config"
      ]
    ]
  },
  {
    "id": "test-config",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Setup Test Customer",
    "func": "// Setup a realistic test customer for testing\n// CHANGE THIS NUMBER to your own test number\nmsg.currentCustomer = {\n    id: \"85290897701@c.us\", \n    name: \"Test User\",  // Can be English or Chinese name\n    context: \"Industry: \u5546\u696d\u53ca\u5c08\u696d\u670d\u52d9\"  // Matches the Excel format with industry\n};\n\n// Clear customers array so the loop stops after this message\nmsg.customers = null;\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Test mode: \" + msg.currentCustomer.name});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 300,
    "wires": [
      [
        "prepare-llm-node"
      ]
    ]
  },
  {
    "id": "config-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Config: Set Customers",
    "func": "// Check if customers were fetched successfully\nif (!msg.payload || !msg.payload.success || !Array.isArray(msg.payload.customers)) {\n    node.error(\"Failed to fetch customer list\");\n    return null;\n}\n\nmsg.customers = msg.payload.customers;\n\nif (msg.customers.length === 0) {\n    node.warn(\"Customer list is empty. Please upload a customer Excel file first.\");\n}\n\n// Initialize index\nmsg.currentIndex = 0;\n\n// Reset status\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Loaded \" + msg.customers.length + \" customers\"});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 100,
    "wires": [
      [
        "iterator-node"
      ]
    ]
  },
  {
    "id": "iterator-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Get Next Customer",
    "func": "if (!msg.customers || msg.currentIndex >= msg.customers.length) {\n    msg.complete = true;\n    return [null, msg]; // Second output for 'done'\n}\n\n// Get current customer\nconst customer = msg.customers[msg.currentIndex];\nmsg.currentCustomer = customer;\nmsg.currentIndex++;\n\n// Update status\nnode.status({fill:\"yellow\", shape:\"ring\", text:\"Processing \" + msg.currentIndex + \"/\" + msg.customers.length});\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "rate-limit-node"
      ],
      [
        "done-node"
      ]
    ]
  },
  {
    "id": "rate-limit-node",
    "type": "delay",
    "z": "customer-llm-flow",
    "name": "Rate Limit (10s)",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 360,
    "y": 200,
    "wires": [
      [
        "prepare-llm-node"
      ]
    ]
  },
  {
    "id": "prepare-llm-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Construct Message",
    "func": "const customer = msg.currentCustomer;\n\n// Extract industry from context (format: \"Industry: XXX\")\nconst industry = customer.context.replace('Industry: ', '').trim();\n\n// Use the Panda SME system prompt with customer details\nconst systemPrompt = `\ud83d\udc3c \u718a\u8c93\u4f01\u696d\u9867\u554f\uff1a\u820a\u5ba2\u6236\u806f\u7e6b\u5c08\u7528 System Prompt\uff08\u7d14\u6587\u5b57\u7248\uff09\n\u4f60\u662f\u300c\u718a\u8c93\u4f01\u696d\u9867\u554f\u300d\u7684\u667a\u80fd\u5ba2\u670d\u6a5f\u68b0\u4eba\uff0c\u8ca0\u8cac\u806f\u7d61\u66fe\u7d93\u8207\u516c\u53f8\u6709\u904e\u63a5\u89f8\u6216\u5408\u4f5c\u7684\u820a\u5ba2\u6236\u3002\n\u4f60\u7684\u76ee\u6a19\u662f\u4ee5\u89aa\u5207\u3001\u81ea\u7136\u3001\u5c08\u696d\u7684\u65b9\u5f0f\u8207\u4ed6\u5011\u91cd\u65b0\u5efa\u7acb\u806f\u7e6b\uff08catch up\uff09\uff0c\u4e86\u89e3\u4ed6\u5011\u73fe\u6cc1\u8207\u696d\u52d9\u9700\u8981\uff0c\u4e26\u4ecb\u7d39\u516c\u53f8\u6700\u65b0\u7684\u670d\u52d9\u8207\u8ab2\u7a0b\u9805\u76ee\u3002\n\n\u3010\u516c\u53f8\u80cc\u666f\u3011\n\u718a\u8c93\u4f01\u696d\u9867\u554f\u662f\u4e00\u9593\u5c08\u9580\u5354\u52a9\u4e2d\u5c0f\u4f01\u53ca\u5275\u696d\u8005\u4e86\u89e3\u3001\u7533\u8acb\u53ca\u7ba1\u7406\u4e0d\u540c\u653f\u5e9c\u8cc7\u52a9\u7684\u4f01\u696d\u9867\u554f\u516c\u53f8\u3002\n\u6211\u5011\u6700\u65b0\u63a8\u51fa\u4f01\u696d\u57f9\u8a13\u8ab2\u7a0b\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\uff0c\u5e6b\u52a9\u5ba2\u6236\u5b78\u6703\u81ea\u884c\u7533\u8acb\u653f\u5e9c\u8cc7\u52a9\uff0c\u7bc0\u7701\u9867\u554f\u8cbb\u7528\u4e26\u80fd\u66f4\u81ea\u4e3b\u638c\u63a7\u6d41\u7a0b\u3002\n\n\u3010\u4f60\u7684\u89d2\u8272\u3011\n\u4f60\u662f\u718a\u8c93\u4f01\u696d\u9867\u554f\u7684\u7b2c\u4e00\u7dda\u95dc\u4fc2\u7dad\u7e6b\u4ee3\u8868\u3002\n\u4f60\u8981\uff1a\n\u4ee5\u53cb\u5584\u614b\u5ea6\u8207\u820a\u5ba2\u6236\u958b\u555f\u5c0d\u8a71\uff0c\u8a62\u554f\u8fd1\u6cc1\u3002\n\u9069\u5ea6\u56de\u9867\u66fe\u7d93\u7684\u806f\u7e6b\uff08\u4f8b\u5982\uff1a\u300c\u4e4b\u524d\u6211\u5011\u66fe\u8207\u60a8\u806f\u7d61\u904e\u67d0\u9805\u8cc7\u52a9\u8a08\u5283\u300d\uff09\u3002\n\u81ea\u7136\u5730\u4ecb\u7d39\u516c\u53f8\u6700\u65b0\u9805\u76ee\uff0c\u5982\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u3002\n\u82e5\u5ba2\u6236\u6709\u8208\u8da3\uff0c\u7c21\u8981\u8aaa\u660e\u5167\u5bb9\uff0c\u4e26\u9080\u8acb\u7559\u4e0b\u6700\u65b0\u806f\u7d61\u65b9\u5f0f\u4ee5\u4fbf\u9867\u554f\u8ddf\u9032\u3002\n\u82e5\u5ba2\u6236\u66ab\u6642\u6c92\u6709\u8208\u8da3\uff0c\u4ecd\u4fdd\u6301\u79ae\u8c8c\u4e26\u8868\u793a\u5f8c\u7e8c\u53ef\u63d0\u4f9b\u8cc7\u8a0a\u66f4\u65b0\u3002\n\n\u3010\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u7c21\u4ecb\u3011\n\u5c0d\u8c61\uff1a\u4e2d\u5c0f\u4f01\u696d\u4e3b\u3001\u5275\u696d\u8005\u3001\u6709\u8208\u8da3\u638c\u63e1\u653f\u5e9c\u8cc7\u52a9\u7533\u8acb\u6280\u5de7\u7684\u5ba2\u6236\n\u5e74\u8cbb\uff1a$9,800\uff0f\u5e74\uff08\u539f\u50f9 $12,800\uff0f\u5e74\uff09\n\u5e73\u5747\u6bcf\u65e5\u958b\u652f\uff1a\u7d04 $27\n\u512a\u60e0\uff1a\u999650\u4f4d\u9650\u5b9a\n\u9644\u9001\uff1a\u6df1\u5733\u88dc\u8cbc\u653b\u7565 + \u6df1\u5733\u88dc\u8cbc60\u5206\u9418\u4e00\u5c0d\u4e00\u8aee\u8a62\n\u512a\u52e2\uff1a\n\u81ea\u4e3b\u638c\u63a7\u7533\u8acb\u9032\u5ea6\n\u5373\u6642\u7cfb\u7d71\u8ffd\u8e64\n\u96f6\u98a8\u96aa\uff08\u4e0d\u9700\u4ea4\u51fa\u6240\u6709\u516c\u53f8\u8cc7\u6599\uff09\n\u5145\u5206\u6a21\u64ec\u8a13\u7df4\uff0c\u78ba\u4fdd\u9806\u5229\u901a\u904e\n\n\u3010\u8a9e\u6c23\u8207\u6e9d\u901a\u98a8\u683c\u3011\n\u4f7f\u7528\u7e41\u9ad4\u4e2d\u6587\u5c0d\u8a71\u3002\n\u8a9e\u6c23\u81ea\u7136\u3001\u89aa\u5207\u3001\u6709\u8aa0\u610f\uff0c\u50cf\u95dc\u5fc3\u8001\u670b\u53cb\u3002\n\u4e0d\u5f37\u8feb\u63a8\u92b7\uff0c\u8457\u91cd\u95dc\u5fc3\u8207\u63d0\u4f9b\u8cc7\u8a0a\u3002\n\u907f\u514d\u904e\u65bc\u5546\u696d\u5316\u7684\u8a9e\u8a00\uff0c\u4f8b\u5982\u300c\u9650\u6642\u512a\u60e0\uff01\u99ac\u4e0a\u5831\u540d\uff01\u300d\n\u53ef\u7528\u8f15\u9b06\u7684\u8a9e\u6c23\u8a5e\uff0c\u5982\u300c\u660e\u767d\u5440\uff5e\u300d\u3001\u300c\u6700\u8fd1\u60c5\u6cc1\u5982\u4f55\uff1f\u300d\u3001\u300c\u8981\u4e0d\u8981\u6211\u5e6b\u60a8\u770b\u770b\uff1f\u300d\n\u76ee\u6a19\u662f\u8b93\u5ba2\u6236\u611f\u53d7\u5230\u95dc\u61f7\u8207\u4fe1\u4efb\uff0c\u800c\u4e0d\u662f\u88ab\u63a8\u92b7\u3002\n\n\u3010\u5c0d\u8a71\u4efb\u52d9\u7bc4\u4f8b\u3011\n\u958b\u5834\u767d\u7bc4\u4f8b\uff08\u53ef\u96a8\u6a5f\u9078\u64c7\u4e0d\u540c\u7248\u672c\u4f7f\u7528\uff09\uff1a\n\u300c\u60a8\u597d\u5440\uff5e\u597d\u4e45\u4e0d\u898b\uff01\u4e4b\u524d\u6709\u806f\u7d61\u904e\u6211\u5011\u95dc\u65bc\u653f\u5e9c\u8cc7\u52a9\u7684\u8a08\u5283\uff0c\u4e0d\u77e5\u9053\u6700\u8fd1\u516c\u53f8\u904b\u4f5c\u9806\u5229\u55ce\uff1f\u300d\n\u300c\u55e8\uff5e\u8fd1\u6cc1\u5982\u4f55\uff1f\u4e4b\u524d\u6211\u5011\u5728\u8cc7\u52a9\u7533\u8acb\u6216\u9867\u554f\u670d\u52d9\u65b9\u9762\u6709\u806f\u7d61\u904e\uff0c\u6700\u8fd1\u6211\u5011\u63a8\u51fa\u4e86\u4e00\u500b\u65b0\u8ab2\u7a0b\uff0c\u53cd\u61c9\u5f88\u597d\u5594\uff01\u300d\n\u300c\u60a8\u597d \ud83d\ude0a \u60f3\u8ddf\u60a8 catch up \u4e00\u4e0b\uff5e\u6211\u5011\u6700\u8fd1\u65b0\u589e\u4e86\u4e00\u9805\u4f01\u696d\u57f9\u8a13\u8ab2\u7a0b\uff0c\u5e6b\u52a9\u4f01\u696d\u81ea\u884c\u638c\u63e1\u7533\u8acb\u653f\u5e9c\u8cc7\u52a9\uff0c\u5f88\u591a\u820a\u5ba2\u6236\u53cd\u61c9\u4e0d\u932f\uff5e\u60f3\u7c21\u55ae\u4ecb\u7d39\u4e00\u4e0b\u7d66\u60a8\u53c3\u8003\u55ce\uff1f\u300d\n\u9032\u4e00\u6b65\u4ecb\u7d39\u7bc4\u4f8b\uff1a\n\u300c\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u662f\u4e00\u500b\u6559\u5c0e\u4f01\u696d\u5982\u4f55\u89aa\u81ea\u7533\u8acb\u653f\u5e9c\u8cc7\u52a9\u7684\u8ab2\u7a0b\uff0c\u8cbb\u7528\u53ea\u9700 $9,800\uff0f\u5e74\uff0c\u6bd4\u50b3\u7d71\u9867\u554f\u7bc0\u7701\u81f3\u5c11 80% \u6210\u672c\uff0c\u800c\u4e14\u53ef\u4ee5\u5b8c\u5168\u638c\u63e1\u81ea\u5df1\u7684\u7533\u8acb\u8cc7\u6599\u548c\u9032\u5ea6\uff5e\u300d\n\u5f15\u5c0e\u806f\u7e6b\u7bc4\u4f8b\uff1a\n\u300c\u5982\u679c\u60a8\u60f3\u4e86\u89e3\u8a73\u7d30\u5167\u5bb9\u6216\u512a\u60e0\uff0c\u6211\u53ef\u4ee5\u5e6b\u60a8\u5b89\u6392\u9867\u554f\u56de\u96fb\uff5e\u65b9\u4fbf\u7559\u4e0b\u60a8\u7684\u59d3\u540d\u53ca\u96fb\u8a71\u55ce\uff1f\u300d\n\u300c\u60f3\u4e86\u89e3\u66f4\u591a\u53ef\u4ee5\u700f\u89bd\u6211\u5011\u7684\u7db2\u7ad9\uff1ahttps://panda-sme.com/landingpage/\u300d\n\u82e5\u5ba2\u6236\u66ab\u6642\u6c92\u8208\u8da3\uff1a\n\u300c\u6c92\u554f\u984c\uff5e\u5982\u679c\u4e4b\u5f8c\u60f3\u4e86\u89e3\u653f\u5e9c\u8cc7\u52a9\u7684\u65b0\u6d88\u606f\u6216\u8ab2\u7a0b\u66f4\u65b0\uff0c\u4e5f\u53ef\u4ee5\u518d\u627e\u6211\ud83d\ude0a \u6211\u5011\u5f88\u6a02\u610f\u96a8\u6642\u5354\u52a9\u60a8\uff01\u300d\n\n\u3010\u91cd\u8981\u8cc7\u8a0a\u3011\n\u516c\u53f8\u7db2\u7ad9\uff1ahttps://panda-sme.com/landingpage/\n\u5728\u9069\u7576\u6642\u5019\u53ef\u4ee5\u5206\u4eab\u6b64\u9023\u7d50\u7d66\u5ba2\u6236\u4e86\u89e3\u66f4\u591a\u8a73\u60c5\u3002\n\n\u3010\u5c0d\u8a71\u76ee\u6a19\u3011\n\u4e3b\u8981\u76ee\u7684\uff1a\n\u5efa\u7acb\u95dc\u4fc2\u8207\u4fe1\u4efb\n\u559a\u9192\u820a\u5ba2\u6236\u8208\u8da3\n\u6536\u96c6\u6216\u66f4\u65b0\u5ba2\u6236\u806f\u7d61\u8cc7\u6599\n\u7406\u60f3\u6210\u679c\uff1a\n\u5ba2\u6236\u7559\u4e0b\u59d3\u540d\u8207\u96fb\u8a71\uff0f\u96fb\u90f5\n\u6216\u4e3b\u52d5\u8981\u6c42\u9867\u554f\u806f\u7d61\n\u82e5\u7121\u6cd5\u7acb\u5373\u53d6\u5f97\u8cc7\u6599\uff0c\u4e5f\u78ba\u4fdd\u5c0d\u8a71\u7559\u4e0b\u826f\u597d\u5370\u8c61\uff0c\u65b9\u4fbf\u5f8c\u7e8c\u8ddf\u9032\u3002`;\n\n// Create explicit instruction with customer details\nconst prompt = `\u8acb\u70ba\u4ee5\u4e0b\u5ba2\u6236\u64b0\u5beb\u4e00\u5247WhatsApp\u8a0a\u606f\uff1a\n\n\u5ba2\u6236\u59d3\u540d\uff1a${customer.name}\n\u5ba2\u6236\u884c\u696d\uff1a${industry}\n\n\u8a0a\u606f\u8981\u6c42\uff1a\n1. \u7b2c\u4e00\u53e5\u5fc5\u9808\u5305\u542b\u5ba2\u6236\u59d3\u540d\uff0c\u4f8b\u5982\uff1a\"${customer.name}\u60a8\u597d\u5440\uff5e\" \u6216 \"\u55e8 ${customer.name}\uff5e\"\n2. \u8a0a\u606f\u4e2d\u5fc5\u9808\u63d0\u53ca\u5ba2\u6236\u7684\u884c\u696d\uff08${industry}\uff09\n3. \u53c3\u8003\u7cfb\u7d71\u63d0\u793a\u4e2d\u7684\u958b\u5834\u767d\u7bc4\u4f8b\u98a8\u683c\n4. \u4ecb\u7d39\u300a\u4f34\u4f60\u555f\u822a\u8a08\u5283\u300b\u7684\u4e3b\u8981\u512a\u52e2\n5. \u5fc5\u9808\u5305\u542b\u7db2\u7ad9\u9023\u7d50\uff1ahttps://panda-sme.com/landingpage/\n6. \u4fdd\u6301\u89aa\u5207\u81ea\u7136\uff0c3-4\u53e5\n7. \u53ea\u8f38\u51fa\u8a0a\u606f\u5167\u5bb9\uff0c\u4e0d\u8981\u6709\u4efb\u4f55\u5176\u4ed6\u8aaa\u660e\n\n\u73fe\u5728\u64b0\u5beb\u8a0a\u606f\uff1a`;\n\nmsg.payload = {\n    prompt: prompt,\n    systemPrompt: systemPrompt,\n    temperature: 0.7,\n    maxTokens: 300\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 200,
    "wires": [
      [
        "call-llm-node"
      ]
    ]
  },
  {
    "id": "call-llm-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Generate Message (LLM)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/generate-text",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 820,
    "y": 200,
    "wires": [
      [
        "prepare-send-node"
      ]
    ]
  },
  {
    "id": "prepare-send-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Prepare Send",
    "func": "const text = msg.payload.text;\nconst customer = msg.currentCustomer;\n\nif (!text) {\n    node.error(\"No text generated for \" + customer.name);\n    return null;\n}\n\n// Store original message for tracking\nmsg.originalMessage = text;\n\n// Format for /api/workflow/send-message\nmsg.payload = {\n    platform: 'whatsapp', // Default to WhatsApp\n    chatId: customer.id,\n    message: text\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text:\"Sent to \" + customer.name});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 300,
    "wires": [
      [
        "send-msg-node"
      ]
    ]
  },
  {
    "id": "send-msg-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Send Message",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/send-message",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1000,
    "y": 300,
    "wires": [
      [
        "track-message-node"
      ]
    ]
  },
  {
    "id": "track-message-node",
    "type": "function",
    "z": "customer-llm-flow",
    "name": "Track Sent Message",
    "func": "const customer = msg.currentCustomer;\nconst sentMessage = msg.originalMessage || '';\n\n// Prepare tracking data\nconst trackingData = {\n    customerId: customer.id,\n    customerName: customer.name,\n    message: sentMessage,\n    status: msg.payload.success ? 'sent' : 'failed'\n};\n\nmsg.payload = trackingData;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1200,
    "y": 300,
    "wires": [
      [
        "track-api-node"
      ]
    ]
  },
  {
    "id": "track-api-node",
    "type": "http request",
    "z": "customer-llm-flow",
    "name": "Save to Tracking",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3000/api/workflow/track-message",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1400,
    "y": 300,
    "wires": [
      [
        "loop-back-node"
      ]
    ]
  },
  {
    "id": "loop-back-node",
    "type": "link out",
    "z": "customer-llm-flow",
    "name": "Loop Back",
    "mode": "link",
    "links": [
      "loop-in-node"
    ],
    "x": 1150,
    "y": 300,
    "wires": []
  },
  {
    "id": "loop-in-node",
    "type": "link in",
    "z": "customer-llm-flow",
    "name": "Loop In",
    "links": [
      "loop-back-node"
    ],
    "x": 50,
    "y": 200,
    "wires": [
      [
        "iterator-node"
      ]
    ]
  },
  {
    "id": "done-node",
    "type": "debug",
    "z": "customer-llm-flow",
    "name": "Workflow Complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "broker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false
  }
]