workflow/templates/more_info_flow.json
[
    {
        "id": "more-info-flow",
        "type": "tab",
        "label": "More Info Flow",
        "disabled": false,
        "info": "Responds to keywords with relevant media and information"
    },
    {
        "id": "whatsapp-message-in",
        "type": "mqtt in",
        "z": "more-info-flow",
        "name": "WhatsApp Messages",
        "topic": "whatsapp/messages",
        "qos": "2",
        "datatype": "json",
        "broker": "broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 120,
        "wires": [
            ["detect-keywords"]
        ]
    },
    {
        "id": "detect-keywords",
        "type": "function",
        "z": "more-info-flow",
        "name": "Detect Keywords",
        "func": "// Define keywords and their corresponding responses\nconst keywordResponses = {\n    'product': {\n        message: '🚀 *Product Information*\\n\\nHere\\'s information about our product!\\n\\nCheck out our amazing product features and benefits.\\n\\n🔹 Feature 1\\n🔹 Feature 2\\n🔹 Feature 3\\n\\nFor more details, visit our website!',\n        media: 'https://xenovative-ltd.com/img/cyber_robot_washin_image_.jpeg',\n        type: 'image'\n    },\n    'service': {\n        message: '💼 *Our Services*\\n\\nHere\\'s what we offer:\\n\\n• Service 1\\n• Service 2\\n• Service 3\\n\\nContact us for a free consultation!',\n        media: 'https://xenovative-ltd.com/img/cyber_robot_washin_image_.jpeg',\n        type: 'image'\n    },\n    'price': {\n        message: '💰 *Pricing Information*\\n\\nOur competitive pricing:\\n\\n• Basic: $X\\n• Standard: $Y\\n• Premium: $Z\\n\\nContact us for volume discounts!',\n        media: 'https://xenovative-ltd.com/img/cyber_robot_washin_image_.jpeg',\n        type: 'image'\n    },\n    'catalog': {\n        message: '📚 *Product Catalog*\\n\\nBrowse our latest catalog with all our products and services.\\n\\nAvailable in multiple categories:\\n• Category 1\\n• Category 2\\n• Category 3\\n\\nDownload link coming soon!',\n        media: 'https://xenovative-ltd.com/img/cyber_robot_washin_image_.jpeg',\n        type: 'image'\n    },\n    'contact': {\n        message: '📞 *Contact Us*\\n\\nWe\\'d love to hear from you!\\n\\n📱 Phone: +852 1234 5678\\n📧 Email: info@xenovative-ltd.com\\n📍 Address: Your Business Address\\n🌐 Website: xenovative-ltd.com\\n\\nOperating Hours:\\nMon-Fri: 9:00 AM - 6:00 PM\\nSat: 9:00 AM - 1:00 PM\\nSun: Closed',\n        media: 'https://xenovative-ltd.com/img/cyber_robot_washin_image_.jpeg',\n        type: 'image'\n    }\n};\n\n// Extract message content\nconst messageData = msg.payload;\n\n// Skip if not a text message\nif (!messageData || !messageData.text) {\n    return [null, msg];\n}\n\n// Convert message to lowercase for case-insensitive matching\nconst text = messageData.text.toLowerCase();\n\n// Check for keywords\nlet response = null;\nfor (const [keyword, data] of Object.entries(keywordResponses)) {\n    if (text.includes(keyword)) {\n        response = {\n            ...data,\n            chatId: messageData.chatId\n        };\n        break;\n    }\n}\n\nif (response) {\n    msg.payload = response;\n    return [msg, null];\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            ["prepare-response"],
            []
        ]
    },
    {
        "id": "prepare-response",
        "type": "function",
        "z": "more-info-flow",
        "name": "Prepare Response",
        "func": "// Prepare the response message\nconst response = {\n    chatId: msg.payload.chatId,\n    message: msg.payload.message,\n    media: msg.payload.media,\n    caption: msg.payload.caption,\n    type: msg.payload.type\n};\n\nmsg.payload = response;\nreturn [msg, null];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            ["send-message"]
        ]
    },
    {
        "id": "send-message",
        "type": "http request",
        "z": "more-info-flow",
        "name": "Send WhatsApp Message",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/api/workflow/send-message",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "broker",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
